html {
  background-image: url(/assets/parchment.jpg); }

body {
  font-family: verdana;
  font-size: 14px;
  padding: 20px;
  margin: 20px auto;
  width: 973px;
  background: white;
  border: 4px solid black; }

.puzzle, .info {
  overflow: auto; }

.puzzle fieldset {
  float: left;
  padding: 20px;
  margin: 20px; }

.puzzle fieldset#submit {
  width: 30%; }

.puzzle fieldset#answers {
  width: 48%; }

.puzzle .info h1 {
  float: left; }

.puzzle .info a {
  float: right; }

#map {
  position: relative; }
  #map .puzzle {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 20px; }
    #map .puzzle .cloud {
      position: absolute;
      width: 147px;
      opacity: 0.7; }
  #map .puzzle_link {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 20px;
    z-index: 200; }
    #map .puzzle_link .done {
      width: 28px;
      position: absolute;
      top: -6px;
      left: -18px; }
    #map .puzzle_link a {
      font-weight: bold;
      color: #b0b0b0;
      font-size: 20px; }

#puzzle0 {
  top: 506px;
  left: 165px;
  z-index: 99; }

#puzzle1 {
  top: 546px;
  left: 115px;
  z-index: 99; }

#puzzle2 {
  top: 601px;
  left: 135px;
  z-index: 99; }

#puzzle3 {
  top: 601px;
  left: 195px;
  z-index: 99; }

#puzzle4 {
  top: 546px;
  left: 208px;
  z-index: 99; }

#puzzle5 {
  top: 521px;
  left: 807px;
  z-index: 95; }

#puzzle6 {
  top: 575px;
  left: 822px;
  z-index: 95; }

#puzzle7 {
  top: 611px;
  left: 779px;
  z-index: 95; }

#puzzle8 {
  top: 575px;
  left: 738px;
  z-index: 95; }

#puzzle9 {
  top: 521px;
  left: 743px;
  z-index: 95; }

#puzzle10 {
  top: 113px;
  left: 461px;
  z-index: 90; }

#puzzle11 {
  top: 155px;
  left: 418px;
  z-index: 90; }

#puzzle12 {
  top: 205px;
  left: 431px;
  z-index: 90; }

#puzzle14 {
  top: 205px;
  left: 491px;
  z-index: 90; }

#puzzle13 {
  top: 155px;
  left: 495px;
  z-index: 90; }

#puzzle_link0 {
  top: 506px;
  left: 165px;
  z-index: 99; }

#puzzle_link1 {
  top: 546px;
  left: 115px;
  z-index: 99; }

#puzzle_link2 {
  top: 601px;
  left: 135px;
  z-index: 99; }

#puzzle_link3 {
  top: 601px;
  left: 195px;
  z-index: 99; }

#puzzle_link4 {
  top: 546px;
  left: 208px;
  z-index: 99; }

#puzzle_link5 {
  top: 521px;
  left: 807px;
  z-index: 95; }

#puzzle_link6 {
  top: 575px;
  left: 822px;
  z-index: 95; }

#puzzle_link7 {
  top: 611px;
  left: 779px;
  z-index: 95; }

#puzzle_link8 {
  top: 575px;
  left: 738px;
  z-index: 95; }

#puzzle_link9 {
  top: 521px;
  left: 743px;
  z-index: 95; }

#puzzle_link10 {
  top: 113px;
  left: 461px;
  z-index: 90; }

#puzzle_link11 {
  top: 155px;
  left: 418px;
  z-index: 90; }

#puzzle_link12 {
  top: 205px;
  left: 431px;
  z-index: 90; }

#puzzle_link14 {
  top: 205px;
  left: 491px;
  z-index: 90; }

#puzzle_link13 {
  top: 155px;
  left: 495px;
  z-index: 90; }

#puzzle0 .cloud {
  top: -56px;
  left: -59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg); }

#puzzle1 .cloud {
  top: -52px;
  left: -69px;
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  transform: rotate(-72deg); }

#puzzle2 .cloud {
  top: -37px;
  left: -67px;
  -webkit-transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  transform: rotate(-144deg); }

#puzzle3 .cloud {
  top: -37px;
  left: -52px;
  -webkit-transform: rotate(-216deg);
  -moz-transform: rotate(-216deg);
  transform: rotate(-216deg); }

#puzzle4 .cloud {
  top: -54px;
  left: -43px;
  -webkit-transform: rotate(-288deg);
  -moz-transform: rotate(-288deg);
  transform: rotate(-288deg); }

#puzzle5 .cloud {
  top: -59px;
  left: -50px;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  transform: rotate(36deg); }

#puzzle6 .cloud {
  top: -42px;
  left: -42px;
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  transform: rotate(108deg); }

#puzzle7 .cloud {
  top: -37px;
  left: -58px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg); }

#puzzle8 .cloud {
  top: -42px;
  left: -78px;
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  transform: rotate(252deg); }

#puzzle9 .cloud {
  top: -59px;
  left: -60px;
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  transform: rotate(324deg); }

#puzzle10 .cloud {
  top: -59px;
  left: -54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg); }

#puzzle11 .cloud {
  top: -58px;
  left: -71px;
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  transform: rotate(-72deg); }

#puzzle12 .cloud {
  top: -37px;
  left: -61px;
  -webkit-transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  transform: rotate(-144deg); }

#puzzle14 .cloud {
  top: -37px;
  left: -45px;
  -webkit-transform: rotate(-216deg);
  -moz-transform: rotate(-216deg);
  transform: rotate(-216deg); }

#puzzle13 .cloud {
  top: -57px;
  left: -28px;
  -webkit-transform: rotate(-288deg);
  -moz-transform: rotate(-288deg);
  transform: rotate(-288deg); }

/*# sourceMappingURL=base.css.map */
