@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\000031}}
html {
  background-image: url(/assets/parchment.jpg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\000034}}
body {
  font-family: verdana;
  font-size: 14px;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
  background: white;
  border: 4px solid black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000314}}
.puzzle, .info {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000316}}
.puzzle fieldset {
  float: left;
  padding: 20px;
  margin: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000321}}
.puzzle fieldset#submit {
  width: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000322}}
.puzzle fieldset#answers {
  width: 48%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000324}}
.puzzle .info h1 {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000325}}
.puzzle .info a {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000327}}
#map {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000330}}
  #map .puzzle {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000336}}
    #map .puzzle .cloud {
      position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000338}}
    #map .puzzle .done {
      width: 48px;
      position: absolute;
      top: -16px;
      left: -8px;
      z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000346}}
    #map .puzzle a {
      font-weight: bold;
      color: white;
      font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000353}}
#puzzle0 {
  top: 525px;
  left: 80px;
  z-index: 99; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000354}}
#puzzle1 {
  top: 168px;
  left: 204px;
  z-index: 99; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000355}}
#puzzle2 {
  top: 163px;
  left: 564px;
  z-index: 99; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000356}}
#puzzle3 {
  top: 529px;
  left: 683px;
  z-index: 99; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000357}}
#puzzle4 {
  top: 755px;
  left: 381px;
  z-index: 99; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000358}}
#puzzle5 {
  top: 358px;
  left: 204px;
  z-index: 95; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000359}}
#puzzle6 {
  top: 226px;
  left: 391px;
  z-index: 95; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000360}}
#puzzle7 {
  top: 354px;
  left: 575px;
  z-index: 95; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000361}}
#puzzle8 {
  top: 590px;
  left: 505px;
  z-index: 95; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000362}}
#puzzle9 {
  top: 584px;
  left: 265px;
  z-index: 95; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000363}}
#puzzle10 {
  top: 512px;
  left: 386px;
  z-index: 90; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000364}}
#puzzle11 {
  top: 454px;
  left: 292px;
  z-index: 90; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000365}}
#puzzle12 {
  top: 329px;
  left: 307px;
  z-index: 90; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000366}}
#puzzle13 {
  top: 327px;
  left: 458px;
  z-index: 90; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000367}}
#puzzle14 {
  top: 454px;
  left: 478px;
  z-index: 90; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000368}}
#puzzle15 {
  top: 410px;
  left: 386px;
  z-index: 85; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000382}}
#puzzle0 .cloud {
  top: -83px;
  left: -172px;
  width: 404px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000384}}
#puzzle1 .cloud {
  top: -83px;
  left: -146px;
  width: 371px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000386}}
#puzzle2 .cloud {
  top: -119px;
  left: -187px;
  width: 371px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000388}}
#puzzle3 .cloud {
  top: -123px;
  left: -145px;
  width: 371px;
  -webkit-transform: rotate(-229deg);
  -moz-transform: rotate(-229deg);
  transform: rotate(-229deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000390}}
#puzzle4 .cloud {
  top: -94px;
  left: -94px;
  width: 371px;
  -webkit-transform: rotate(-163deg);
  -moz-transform: rotate(-163deg);
  transform: rotate(-163deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000392}}
#puzzle5 .cloud {
  top: -30px;
  left: -81px;
  width: 235px;
  -webkit-transform: rotate(-121deg);
  -moz-transform: rotate(-121deg);
  transform: rotate(-121deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000394}}
#puzzle6 .cloud {
  top: -30px;
  left: -117px;
  width: 235px;
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  transform: rotate(-39deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000396}}
#puzzle7 .cloud {
  top: -94px;
  left: -116px;
  width: 235px;
  -webkit-transform: rotate(87deg);
  -moz-transform: rotate(87deg);
  transform: rotate(87deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\0000398}}
#puzzle8 .cloud {
  top: -87px;
  left: -101px;
  width: 235px;
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  transform: rotate(100deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003100}}
#puzzle9 .cloud {
  top: -71px;
  left: -57px;
  width: 235px;
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  transform: rotate(168deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003102}}
#puzzle10 .cloud {
  top: -76px;
  left: -111px;
  width: 225px;
  -webkit-transform: rotate(51deg);
  -moz-transform: rotate(51deg);
  transform: rotate(51deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003104}}
#puzzle11 .cloud {
  top: -81px;
  left: -90px;
  width: 225px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  transform: rotate(115deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003106}}
#puzzle12 .cloud {
  top: -62px;
  left: -78px;
  width: 225px;
  -webkit-transform: rotate(179deg);
  -moz-transform: rotate(179deg);
  transform: rotate(179deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003108}}
#puzzle13 .cloud {
  top: -39px;
  left: -78px;
  width: 225px;
  -webkit-transform: rotate(245deg);
  -moz-transform: rotate(245deg);
  transform: rotate(245deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003110}}
#puzzle14 .cloud {
  top: -43px;
  left: -98px;
  width: 225px;
  -webkit-transform: rotate(319deg);
  -moz-transform: rotate(319deg);
  transform: rotate(319deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Dillon\/coding\/puzzlehunt\/puzzlehunt\/assets\/base\.scss}line{font-family:\00003112}}
#puzzle15 .cloud {
  top: -54px;
  left: -82px;
  width: 263px;
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  transform: rotate(198deg); }
