{{ define "error" }}
  {{ if . }}
    <div class="error">
      Error: {{ .Error }}
    </div>
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ template "title" . }}</title>
    {{ Stylesheet "admin" }}
    {{ Javascript "admin" }}
  </head>
  <body>
    <header>
      <h1>Puzzlehunt Admin</h1>
      <ul>
        <li><a href="/admin/teams">Teams</a></li>
        <li><a href="/admin/puzzles">Puzzles</a></li>
        <li><a href="/admin/progress">Progress</a></li>
        <li><a href="/admin/queue">Queue</a></li>
      </ul>
    </header>
    <section id="content">
      {{ template "content" . }}
      <br/>
      <code style='margin-top: 50px;display:block'>B======D~</code>
    </section>
  </body>
</html>
