{{ define "title" }}Puzzle List{{ end }}

{{ define "content" }}
    <h1 class="title">MISSION ORIENTED INTER SPACE TRAVEL DATA ARCHIVE</h1>
    {{ with $data := . }}
      {{ range $i, $puzzle := $data.Puzzles }}
        {{ with $soln := SolutionFor $data.Solutions $data.Team $puzzle }}
          {{ if not $soln.SolvedAt.IsZero }}
          <div id='puzzle{{ $i }}' class='puzzle{{ if not $soln.SolvedAt.IsZero }} solved{{ end }}'>
            {{ if not $soln.SolvedAt.IsZero }}
              <a href='/map/puzzles/{{ $puzzle.Slug }}' class='icon-link'>P{{ $puzzle.UnlockIdx }}</a>
            {{ else }}
              <a href='/map/puzzles/{{ $puzzle.Slug }}' class='icon-link'>P{{ $puzzle.UnlockIdx }}</a>
            {{ end }}
          </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
{{ end }}
