{{ define "title" }}Space Ship Map{{ end }}

{{ define "content" }}
  <div id='map'>
    <img src='{{ AssetPath "map.png" }}' width=973 height=800 />


    {{ with $data := . }}
    {{ range $i, $puzzle := $data.Puzzles }}
      <div id='puzzle{{ $i }}' class='puzzle'>
        {{ with $soln := SolutionFor $data.Solutions $data.Team $puzzle }}
          {{ if not $soln.SolvedAt.IsZero }}
            <div></div>
          {{ end }}
        {{ else }}
          <img class='cloud' src='{{ AssetPath "cloud.png" }}'/>
        {{ end }}
      </div>
      <div id='puzzle_link{{ $i }}' class='puzzle_link' >
        {{ with $soln := SolutionFor $data.Solutions $data.Team $puzzle }}
          {{ if not $soln.SolvedAt.IsZero }}
            <img class='done' src='{{ AssetPath "redx.png" }}'/>
          {{ end }}
        {{ end }}
        <a href='/map/puzzles/{{ .Slug }}'>P{{ .UnlockIdx }}</a>
      </div>
    {{ end }}
    {{ end }}
  </div>
{{ end }}
