{{ define "title" }}Puzzle - {{ .Puzzle.Name }}{{ end }}

{{ define "submission" }}
<tr data-id='{{ .Id.Hex }}'>
  <td>{{ .ReceivedAt.Format "15:04:05" }}</td>
  <td>{{ .Answer }} </td>
  <td>{{ .AnswerStatus }}</td>
</tr>
{{ end }}

{{ define "content" }}
<div class='puzzle'>
  <div class='info'>
    <h1><a href='{{ .Puzzle.Url }}'>{{ .Puzzle.Name }}</a></h1>
    <a href='/map'>Go back to all puzzles</a>
  </div>

  <fieldset id='submit'>
    <legend>Submit an answer</legend>
    <form action="/map/puzzles/{{ .Puzzle.Slug }}" method='get'
          data-remote=true>
      <div>
        <label for='answer'>Answer:</label>
        <input type='text' id='answer' name='answer'/><br/>
        <input type='submit' value='Submit' data-disable-with='Submitting...'/>
      </div>
    </form>
  </fieldset>
  <fieldset id='answers'>
    <legend>Past answers (automatically updated)</legend>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Answer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Submissions }}
          {{ template "submission" . }}
        {{ end }}
      </tbody>
    </table>
  </fieldset>
  <script type='text/javascript'>
    $(function() {
      var ws = new ReconnectingWebSocket('ws://' + location.host + '/map/{{ .Tag }}/ws');
      ws.onclose = function(e) { console.log('close', e); };
      ws.onerror = function(e) { console.log('error', e); };
      ws.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data.Type == 'new') {
          $('tbody').prepend(data.Html);
        } else {
          $('tr[data-id=' + data.Id + ']').replaceWith(data.Html);
        }
      };
      $('form').bind('ajax:complete', function() {
        $('#answer').val('');
      });
    });
  </script>
</div>
{{ end }}
