{{ define "title" }}Queue{{ end }}

{{ define "queue_submission" }}
  <tr class="{{ .Status }} submission" data-id='{{ .Id.Hex }}'>
    <td>{{ .TeamName }}</td>
    <td>{{ .PuzzleName }}</td>
    <td>{{ .DisplayAnswer }}</td>
    <td>{{ .ReceivedAt.Local }}</td>
    <td>
      {{ if .NeedsResponse }}
        <a href='#' class='needs-response'>[manual response]</a>
        <a href='#' class='canned-response'>[canned response]</a>

        <form action="/admin/respond/{{ .Id.Hex }}"
              method="post" style="display:none" data-remote=true>
          <p>
            <textarea name="response">Wrong Answer</textarea>
            <input type="Submit" value="Send email"/>
          </p>
        </form>
      {{ end }}
    </td>
  </tr>
{{ end }}

{{ define "content" }}
  <h1>Submission Queue</h1>

  <table id='queue'>
    <thead>
      <tr>
        <th>Team</th>
        <th>Puzzle</th>
        <th>Answer</th>
        <th>Submitted At</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {{ range . }}
        {{ template "queue_submission" . }}
      {{ end }}
    </tbody>
  </table>

  <script type='text/javascript'>
    $(document).ready(function() {
      var flashing = false,
          focused = true;
      var title = document.title;
      window.addEventListener('focus', function() {
        focused = true;
        flashing = false;
      });
      window.addEventListener('blur', function() {
        focused = false;
      });

      /* flash the title if necessary */
      setInterval(function() {
        if (flashing && !focused) {
          if (document.title[0] == '[') {
            document.title = title;
          } else {
            document.title = '[' + title + '] - New Submissions';
          }
        } else {
          document.title = title;
        }
      }, 1000);

      /* Open a socket and listen for new submissions */
      listen('/admin/event/queue', function(m) {
        var data = JSON.parse(m.data);
        var row = $($.parseHTML(data.Html));
        if (data.Type == 'new') {
          if (!row.hasClass('correct')) {
            flashing = !focused;
            $('audio')[0].play();
          }
          $('#queue tbody').prepend(row);
        } else {
          $('tr[data-id=' + data.Id + ']').replaceWith(row);
        }
      });

      /* open a text box for submitting an email */
      $(document).delegate('.needs-response', 'click', function() {
        $(this).siblings('form').show();
        return false;
      });
      $(document).delegate('.canned-response', 'click', function() {
        $(this).siblings('form').submit();
        return false;
      });
    });
  </script>
  <audio>
    <source src="{{ AssetPath "goat.mp3" }}" type="audio/mp3"/>
  </audio>
{{ end }}
