{{ define "title" }}Queue{{ end }}

{{ define "content" }}
  <h1>Submission Queue</h1>

  <table id='queue'>
    <thead>
      <tr>
        <th>Team</th>
        <th>Puzzle</th>
        <th>Answer</th>
        <th>Submitted At</th>
        <th>Actions</th>
      </tr>
    </thead>

    {{ range $submission := . }}
      <tr class="{{ $submission.Status }} submission"
          data-id='{{ $submission.Id.Hex }}'>
        <td>{{ $submission.TeamName }}</td>
        <td>{{ $submission.PuzzleName }}</td>
        <td>{{ $submission.DisplayAnswer }}</td>
        <td>{{ $submission.ReceivedAt.Local }}</td>
        <td>
          {{ if $submission.NeedsResponse }}
            <a href='#' class='needs-response'>[manual response]</a>
            <a href='#' class='canned-response'>[canned response]</a>

            <form action="/admin/respond/{{ $submission.Id.Hex }}"
                  method="post" style="display:none">
              <p>
                <textarea name="response">Incorrect Answer</textarea>
                <input type="Submit" value="Send email"/>
              </p>
            </form>
          {{ end }}
        </td>
      </tr>
    {{ end }}
  </table>

  <script type='text/javascript'>
    $(document).ready(function() {
      var flashing = false,
          focused = true;
      var title = document.title;
      window.addEventListener('focus', function() {
        focused = true;
        flashing = false;
      });
      window.addEventListener('blur', function() {
        focused = false;
      });

      setInterval(function() {
        if (flashing && !focused) {
          if (document.title[0] == '[') {
            document.title = title;
          } else {
            document.title = '[' + title + '] - New Submissions';
          }
        } else {
          document.title = title;
        }
      }, 1000);
      setInterval(function() {
        $.get(window.location, function(foo) {
          var rows = $(foo).find('tr.submission');
          for (var i = rows.length - 1; i >= 0; i--) {
            var selector = 'tr[data-id=' + $(rows[i]).attr('data-id') + ']';
            var $tr = $(selector);
            if ($tr.length == 0) {
              if (!$(rows[i]).hasClass('correct')) {
                flashing = !focused;
                $('audio')[0].play();
              }
              $('#queue').prepend(rows[i]);
            } else if ($(rows[i]).attr('class') != $tr.attr('class')) {
              $tr.replaceWith(rows[i]);
            }
          }
        });
      }, 2000);
    });
  </script>
  <audio>
    <source src="/assets/goat.mp3" type="audio/mp3"/>
  </audio>
{{ end }}
