{{ define "title" }}Puzzle Progress{{ end }}

{{ define "solution" }}
  {{ if not .SolvedAt.IsZero }}
    <td class='solved' data-id='{{ .Identifier }}'>
      {{ .SolvedAt.Format "15:04:05" }}
    </td>
  {{ else }}
    <td class='available' data-id='{{ .Identifier }}'></td>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h1>Puzzle Progress</h1>
  <table id='progress'>
    <thead>
      <tr>
        <th>Team</th>
        <th>#</th>
        {{ range .Puzzles }}
          <th>{{ .Name }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ with $data := . }}
        {{ range $_, $team := $data.Teams }}
          <tr>
            <td>{{ $team.Name }}</td>
            <td class='num'></td>
            {{ range $_, $puzzle := $data.Puzzles }}
              {{ with $soln := SolutionFor $data.Solutions $team $puzzle }}
                {{ template "solution" $soln }}
              {{ else }}
                <td class='unavailable'
                    data-id='{{ $puzzle.Id.Hex }}{{ $team.Id.Hex }}'>
                  <a href="/admin/puzzles/{{ $puzzle.Id.Hex }}/unlock/{{ $team.Id.Hex }}"
                     data-method="post" data-remote='true'>
                   unlock
                  </a>
                </td>
              {{ end }}
            {{ end }}
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
  <script type='text/javascript'>
    $(function() {
      var updateSolved = function() {
        $.each($('#progress tr'), function(_, row) {
          var amt = $(row).find('td.solved').length;
          $(row).find('.num').text(amt);
        });
      };
      listen('/admin/event/progress', function(m) {
        var data = JSON.parse(m.data);
        $('td[data-id=' + data.Id + ']').replaceWith(data.Html);
        updateSolved();
      });
      updateSolved();
    });
  </script>

  <a href="/admin/reset"
     data-confirm="Are you sure?"
     data-method="post">Reset all progress</a>
  &middot;
  <a href="/admin/release"
     data-confirm="Are you sure?"
     data-method="post">Release initial puzzles</a>
{{ end }}
